*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: min-content;
    background-color: black;
    gap: 1px;
    border: 1px solid black;
}

.row{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.cell{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}

.cell:hover{
    background-color: rgb(248, 248, 172);
    cursor: pointer;
}

.cell:active{
    background-color: rgb(179, 179, 165);
}

.cell.filled{
    background-color: rgb(155, 155, 155);
    cursor: default;
}

[data-row="0"]{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

[data-row="1"]{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

[data-row="2"]{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

[data-col="0"]{
    grid-column: 1 / 2;
}

[data-col="1"]{
    grid-column: 2 / 3;
}

[data-col="2"]{
    grid-column: 3 / 4;
}

